.header{
    position: absolute;
    top: 25px;
    width: 100vw;
    height: 55px;
    /* background-color: black; */
    /* border-radius: -25px; */
    z-index: 15;

    /* box-shadow: 0 0 50px 0px rgb(23, 2, 2) ; */
}
.wrap{
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    align-items: center;
    
}
.logo{
    /* mix-blend-mode: multiply; */
    color: #bdc38a;
    font-size: 35px;
    background: rgba(49, 45, 45, 0.7);
    padding:0 15px;
    height: 100%;
}